@import url(../../../styles.scss);

:host {
  .form-container {
    border-radius: 16px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: absolute;
    width: 90%;
    min-height: 135px;
    padding: 8px 16px;
    bottom: -30px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  ::ng-deep p-inputnumber {
    span input {
      width: 60px;
    }
  }
}
